/*==== RESET ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  border: none;
  user-select: none;
  list-style: none;
  font-weight: var(--extra-light-font);
}

/*==== VARIABLES ====*/

:root {
  --light-color: #f0f0f0;
  --dark-color: #202020;

  --extra-light-font: 200;
  --light-font: 300;
  --regular-font: 400;
  --semi-bold-font: 800;
  --bold-font: 900;

  --shadow: 0 0 3px 1px rgba(0, 0, 0, 0.8);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--light-color);
  position: relative;
}

/*==== MENU ====*/
.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 28.5rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  box-shadow: var(--shadow);
  padding: 3rem 0;
  transition: 0.5s 0.4s;
  z-index: 100;
}

.menu__container.left {
  position: absolute;
  animation: move-x 1s forwards ease-out;
}

.menu__start {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.menu__start.disabled {
  display: none;
}

.menu__play {
  bottom: 3rem;
  width: 100%;
}

.menu__title {
  margin-bottom: 3rem;
}

.input__control {
  position: relative;
  width: 100%;
}

.menu__label {
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.menu__input {
  height: 3rem;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  width: 100%;
  padding: 2.5rem 0.5rem 1.2rem;
  color: var(--light-color);
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.menu__button {
  width: 100%;
  height: 3rem;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  color: var(--light-color);
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}

.menu__button.selected {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-weight: var(--semi-bold-font);
  letter-spacing: 0.4rem;
}

.menu__play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play__button {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-weight: var(--bold-font);
  letter-spacing: 0.4rem;
  transition: 0.4s;
}

/*==== GAME ====*/
.game__container {
  width: 70%;
  height: 70vh;
  background-color: var(--light-color);
  position: absolute;
  right: 5rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  visibility: hidden;
  transition: 1s;
}

.game__container.enabled {
  visibility: visible;
  box-shadow: var(--shadow);
}

.game__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__player {
  padding: 3rem 0;
}

.game__name--title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--semi-bold-font);
}

.game__display {
  box-shadow: var(--shadow);
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
}

.game__choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.game__button {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: var(--regular-font);
  cursor: pointer;
}

.game__score {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 3fr;
}

.game__title--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game__mode--title {
  font-size: 1.5rem;
  font-weight: var(--semi-bold-font);
  text-transform: uppercase;
}

.game__mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__mode--choice {
  font-size: 1.2rem;
  margin: 0 0.2rem;
  font-weight: var(--light-font);
  text-transform: uppercase;
}

.game__point--container {
  display: flex;
  margin-top: 1rem;
}

.game__point {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--light-color);
  box-shadow: var(--shadow);
  margin: 0 0.4rem;
}

.player__point--1 {
  margin-right: 1rem;
}

.versus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.result {
  background-color: var(--dark-color);
}

/*==== ANIMATIONS ====*/
@keyframes move-x {
  0% {
    transform: translateX(0);
    width: 28.5rem;
  }
  100% {
    transform: translateX(-32rem);
    width: 18rem;
  }
}

@keyframes appears {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
